body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
  text-align: center;
  margin: 0, auto;
}

.inputField {
  width: 90vw;
}

.form-container {
  width: 90vw;
  margin: 0 auto;
}

.form-container .btn {
  text-align: right;
}

.alert-msg {
  color: red;
  text-align: center;
}

.footer-link {
  display: block;
}
/* =^..^=   =^..^=   =^..^=  CARD STYLES  =^..^=    =^..^=    =^..^=    =^..^= */
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(34, 115, 236);
  padding-bottom: 5px;
  width: 90vw;
  height: 240px;
  max-width: 100%;
  border-radius: 0.6rem;
  margin: 20px auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
@media screen and (min-width: 768px) {
  .card-container {
    width: 567px;
    height: 270px;
    margin-bottom: 30px;
  }

  .card-serial {
    padding-left: 1rem;
    text-align: left;
    position: relative;
    bottom: 0;
    left: 0;
  }

  .card-passes {
    text-align: right;
    padding-right: 1rem;
    position: relative;
    bottom: 0;
    right: 0;
  }

  .card-balance h1 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .card-passes,
  .card-serial {
    font-size: 1rem;
    display: inline-block;
  }

  .card-buttons {
    text-align: center;
    margin: 10px auto 0;
  }
}
/* === PHONE STYLES === */
@media screen and (max-width: 320px) {
  .card-container {
    width: 90vw;
    height: 130px;
    margin-bottom: 5px;
  }

  .card-serial {
    padding-left: 0 rem;
    text-align: left;
    position: relative;
    bottom: 0;
    left: 0;
  }

  .card-passes {
    text-align: right;
    padding-right: 0 rem;
    position: relative;
    bottom: 0;
    right: 0;
  }

  .card-balance {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .card-nickname h3 {
    font-size: 0.5rem;
    color: black;
    margin: 0;
  }

  .card-top {
    font-size: 0.5rem;
  }

  .card-passes,
  .card-serial {
    font-size: 0.5rem;
    display: inline-block;
  }

  .card-buttons {
    text-align: center;
    margin: 2px auto 0;
  }
}
/* === DEFAULT STYLES === */
.card-nickname h3 {
  font-size: 1.5rem;
  color: black;
  margin: 0;
}

.card-balance,
.card-bottom,
.card-top {
  background-color: rgb(34, 115, 236);
}

.card-balance,
.card-bottom,
.card-passes,
.card-serial,
.card-top {
  color: ghostwhite;
  font-family: 'Nunito', sans-serif;
}

.card-balance h1 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 40px;
}

.card-bottom {
  margin: 3px;
  padding: 0;
}

.card-serial {
  text-align: left;
  position: relative;
  bottom: 5px;
  left: -20px;
}

.card-passes {
  text-align: right;
  position: relative;
  bottom: 5px;
  right: -10px;
}

.card-passes,
.card-serial {
  font-size: 0.5rem;
  display: inline-block;
}

.card-buttons {
  text-align: center;
  margin: 10px auto 0;
  padding-top: 5px;
}

.map-wrapper {
  width: 90vw;
  margin: 0 auto;
  text-align: center;
}

#map-icon {
  width: 20px;
  height: 31px;
}