.App {
  text-align: center;
  color: white; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #2364AA; }

li {
  list-style-type: none;
  text-align: center;
  margin: 0, auto; }

.inputField {
  width: 90vw; }

.form-container {
  width: 90vw;
  margin: 0 auto; }

.form-container .btn {
  text-align: right; }

.alert-msg {
  color: red;
  text-align: center; }

.footer-link {
  display: block; }

.menu {
  color: #2364AA;
  font-size: 1.2em;
  margin-right: .5em; }

.nav-flex div a img {
  margin: .6em 0 .3em .5em; }

.card-passes p {
  margin: 0; }

/*  === CARD STYLES LARGE === */
@media screen and (min-width: 768px) {
  .card-container {
    width: 567px;
    height: 270px;
    margin-bottom: 30px; }
  .card-balance h1 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0; }
  .card-passes,
  .card-serial {
    font-size: 1rem;
    display: inline-block; }
  .card-buttons {
    text-align: center;
    margin: 10px auto 0; } }

/* === CARD STYLES FOR PHONE === */
@media screen and (max-width: 320px) {
  .card-container {
    width: 90vw;
    height: 130px;
    margin-bottom: 5px; }
  .card-balance {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0; }
  .card-nickname h3 {
    font-size: 0.5rem;
    color: black;
    margin: 0; }
  .card-top {
    font-size: 0.5rem;
    background-color: #3DA5D9; }
  .card-passes,
  .card-serial {
    font-size: 0.5rem;
    display: inline-block; }
  .card-buttons {
    text-align: center;
    margin: 2px auto 0; } }

/* === CARD DEFAULT STYLES === */
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #3DA5D9;
  padding-bottom: 5px;
  width: 90vw;
  height: 240px;
  max-width: 100%;
  border-radius: 0.6rem;
  margin: 20px auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: 6px solid #fff; }

.card-nickname h3 {
  font-size: 1.5rem;
  color: black;
  margin: 0; }

.card-balance,
.card-bottom,
.card-top {
  background-color: #3DA5D9; }

.card-balance,
.card-bottom,
.card-passes,
.card-serial,
.card-top {
  color: ghostwhite;
  font-family: 'Nunito', sans-serif; }

.card-balance h1 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 40px; }

.card-bottom {
  display: flex;
  justify-content: space-between;
  margin: 3px;
  padding: 0; }

.card-passes,
.card-serial {
  font-size: 1.2rem;
  display: inline-block; }

.card-buttons {
  text-align: center;
  margin: 10px auto 0;
  padding-top: 5px; }

.card-activity {
  margin-bottom: 3em; }

.map-wrapper {
  width: 90vw;
  margin: 0 auto;
  text-align: center; }

#map-icon {
  width: 20px;
  height: 31px; }

/* Overwrite select bar width */
#select-bar {
  width: 90vw; }

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #FFF;
  border-bottom: 8px solid #3DA5D9; }

.nav-flex div a {
  text-decoration: none;
  color: black;
  margin: 1.33em 0; }

.nav-flex div a img {
  max-width: 75px; }

.background-wrapper {
  width: 100vw;
  background-image: url("../citybg.png");
  background-size: 100% 100%; }

@media screen and (max-width: 550px) {
  .background-wrapper {
    width: 100vw;
    background-image: url("../cityCropped.png");
    background-size: cover; } }

.home {
  width: 90vw;
  margin: 0 auto;
  padding-top: 1em; }

.home p {
  text-align: center;
  padding: 1em 0;
  line-height: 1.5em; }

.get-a-card {
  margin-bottom: 5em; }

.need-card {
  padding-bottom: 4em; }

.footer-top {
  padding: 1.5em;
  background-color: #FEC601; }

.languages {
  padding: 0.5em 0;
  background-color: #FEC601; }

.languages a {
  color: white; }

.lang {
  text-decoration: none;
  font-size: 0.9em;
  padding: 0.5em;
  color: white; }

.footer-link {
  text-decoration: none;
  padding: 0.1em;
  color: white; }

.footer-bottom {
  padding: 1em;
  background-color: #2364AA;
  color: white; }

.footer-bottom div a {
  text-decoration: none;
  padding: 0.75em;
  color: white; }

.rights-reserved p {
  color: gray;
  margin-top: 0.5em;
  margin-bottom: 0; }

#button {
  display: block;
  box-sizing: border-box;
  margin: 1em auto;
  padding: .88em;
  width: 225px;
  text-align: center;
  height: 3em;
  font-size: .8em;
  color: #fff;
  background-color: #EA7317;
  border-radius: 2em;
  border: none;
  text-decoration: none; }

#button:hover {
  border: 3px solid #EA7317;
  background-color: transparent;
  padding: .6em;
  color: #EA7317; }

#map-button {
  padding: 0;
  font-size: 1em;
  border: none;
  font-weight: bold;
  color: #EA7317;
  background: none; }

.have-card {
  margin-bottom: 3em; }

.retail-container {
  width: 90vw;
  margin: 0 auto; }

.retail-location {
  text-align: left; }

.retail-location h4 {
  margin: 0;
  font-weight: bold; }

.retail-location p {
  margin: 0;
  font-size: 0.8em; }

.retail-location span {
  font-size: 0.8em; }

.signup-section {
  margin-bottom: 4em; }

.signup-section h3 {
  min-width: 50vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0.25em;
  background-color: #EA7317;
  border-radius: 0.5em;
  color: white;
  text-align: left; }

.signup-section p {
  text-align: left;
  margin-bottom: 0; }

.signup-link {
  text-decoration: none;
  color: white;
  margin-bottom: 4em; }

#login-link {
  margin-bottom: 9em; }

.fade-title {
  color: gray; }

#dob {
  margin-top: 0; }

/*  ======= PAYMENT WIDGET STYLES ======== */
.payment-container {
  text-align: left; }

.payment-container h3 {
  min-width: 50vw;
  box-sizing: border-box;
  margin-bottom: 1.5em;
  padding: 0.25em;
  background-color: #EA7317;
  border-radius: 0.5em;
  color: white; }

.payment-container p {
  margin-bottom: 0; }

.small-input,
.large-input,
.cvv-input {
  border-radius: .5em;
  border-style: none;
  height: 2em; }

.large-input {
  width: 100%;
  display: block;
  margin-bottom: 1em;
  font-size: 1em; }

.small-input {
  display: inline;
  width: 5em;
  margin-right: 1em; }

.cvv-input {
  display: block;
  width: 5em; }

.card-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2em; }

.card-flex p {
  margin-top: 0; }

.manage-card-container {
  width: 90vw;
  margin: 0 auto;
  padding: 2em 0; }

.manage-card-container h2 {
  margin-bottom: 2em; }

.manage-card-container h4 {
  text-align: left;
  margin-bottom: .5em; }

.balance-container {
  margin-bottom: 4em; }

.reload-container {
  margin-bottom: 3em; }

.flex-amount {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; }

.flex-amount h4,
.flex-amount span {
  text-align: left;
  margin-bottom: 15px;
  margin-left: 0em;
  padding-right: .5em; }

.addvalue-container,
.reload-container {
  width: 90vw;
  margin: 0 auto;
  padding: 2em 0; }

.addvalue-container h4,
.addvalue-container span {
  text-align: left;
  margin-bottom: 15px;
  margin-left: 0em;
  padding-right: .5em; }

.add-amount-form {
  margin-bottom: 3em; }

.amount-form p {
  margin-top: 0; }

.payment-container {
  margin: 2em 0;
  border: 2px solid white;
  border-radius: .5em;
  padding: .25em; }

.disable-reload {
  padding: .75em 0; }

ul {
  padding: 0; }

/*# sourceMappingURL=app.css.map */