@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito|Roboto");
.App {
  text-align: center; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #FBE8A6; }

li {
  list-style-type: none;
  text-align: center;
  margin: 0, auto; }

.inputField {
  width: 90vw; }

.form-container {
  width: 90vw;
  margin: 0 auto; }

.form-container .btn {
  text-align: right; }

.alert-msg {
  color: red;
  text-align: center; }

.footer-link {
  display: block; }

.menu {
  color: white; }

.nav-flex div a img {
  margin: .5em; }

/*  === CARD STYLES LARGE === */
@media screen and (min-width: 768px) {
  .card-container {
    width: 567px;
    height: 270px;
    margin-bottom: 30px; }
  .card-serial {
    padding-left: 1rem;
    text-align: left;
    position: relative;
    bottom: 0;
    left: 0; }
  .card-passes {
    text-align: right;
    padding-right: 1rem;
    position: relative;
    bottom: 0;
    right: 0; }
  .card-balance h1 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0; }
  .card-passes,
  .card-serial {
    font-size: 1rem;
    display: inline-block; }
  .card-buttons {
    text-align: center;
    margin: 10px auto 0; } }

/* === CARD STYLES FOR PHONE === */
@media screen and (max-width: 320px) {
  .card-container {
    width: 90vw;
    height: 130px;
    margin-bottom: 5px; }
  .card-serial {
    padding-left: 0 rem;
    text-align: left;
    position: relative;
    bottom: 0;
    left: 0; }
  .card-passes {
    text-align: right;
    padding-right: 0 rem;
    position: relative;
    bottom: 0;
    right: 0; }
  .card-balance {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0; }
  .card-nickname h3 {
    font-size: 0.5rem;
    color: black;
    margin: 0; }
  .card-top {
    font-size: 0.5rem; }
  .card-passes,
  .card-serial {
    font-size: 0.5rem;
    display: inline-block; }
  .card-buttons {
    text-align: center;
    margin: 2px auto 0; } }

/* === CARD DEFAULT STYLES === */
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #303C6C;
  padding-bottom: 5px;
  width: 90vw;
  height: 240px;
  max-width: 100%;
  border-radius: 0.6rem;
  margin: 20px auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.card-nickname h3 {
  font-size: 1.5rem;
  color: black;
  margin: 0; }

.card-balance,
.card-bottom,
.card-top {
  background-color: #D2FDFF; }

.card-balance,
.card-bottom,
.card-passes,
.card-serial,
.card-top {
  color: ghostwhite;
  font-family: 'Nunito', sans-serif; }

.card-balance h1 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 40px; }

.card-bottom {
  margin: 3px;
  padding: 0; }

.card-serial {
  text-align: left;
  position: relative;
  bottom: 5px;
  left: -20px; }

.card-passes {
  text-align: right;
  position: relative;
  bottom: 5px;
  right: -10px; }

.card-passes,
.card-serial {
  font-size: 1.2rem;
  display: inline-block; }

.card-buttons {
  text-align: center;
  margin: 10px auto 0;
  padding-top: 5px; }

.map-wrapper {
  width: 90vw;
  margin: 0 auto;
  text-align: center; }

#map-icon {
  width: 20px;
  height: 31px; }

/* Overwrite select bar width */
#select-bar {
  width: 90vw; }

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #303C6C;
  border-bottom: 3px solid #303C6C; }

.nav-flex div a {
  text-decoration: none;
  color: #303C6C;
  margin: 1.33em 0; }

.nav-flex div a img {
  max-width: 75px; }

.footer-container {
  margin-top: 5em; }

.footer-top {
  margin-top: 2em;
  padding: 1.5em;
  background-color: #F4976C; }

.languages {
  padding: 0.5em 0;
  background-color: #F4976C; }

.languages a {
  color: white; }

.lang {
  text-decoration: none;
  font-size: 0.9em;
  padding: 0.5em;
  color: white; }

.footer-link {
  text-decoration: none;
  padding: 0.1em;
  color: white; }

.footer-bottom {
  padding: 1em;
  background-color: #303C6C;
  color: white; }

.footer-bottom div a {
  text-decoration: none;
  padding: 0.75em;
  color: white; }

.rights-reserved p {
  color: gray;
  margin-top: 0.5em;
  margin-bottom: 0; }

#button {
  display: block;
  box-sizing: border-box;
  margin: 1em auto;
  padding: .88em;
  width: 225px;
  text-align: center;
  height: 3em;
  font-size: .8em;
  color: #fff;
  background-color: #303C6C;
  border-radius: 2em;
  border: none;
  text-decoration: none; }

#button:hover {
  border: 3px solid #303C6C;
  background-color: transparent;
  padding: .6em;
  color: #303C6C; }

#map-button {
  padding: 0;
  font-size: 1em;
  border: none;
  font-weight: bold;
  color: #303C6C; }

.have-card {
  margin-bottom: 3em; }

.retail-container {
  width: 90vw;
  margin: 0 auto; }

.retail-location {
  text-align: left; }

.retail-location h4 {
  margin: 0;
  font-weight: bold; }

.retail-location p {
  margin: 0;
  font-size: 0.8em; }

.retail-location span {
  font-size: 0.8em; }

.signup-section {
  margin-bottom: 4em; }

.signup-section h3 {
  min-width: 50vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0.25em;
  background-color: #303C6C;
  border-radius: 0.5em;
  color: white;
  text-align: left; }

.signup-section p {
  text-align: left;
  margin-bottom: 0; }

.fade-title {
  color: gray; }

#dob {
  margin-top: 0; }

/*  ======= PAYMENT WIDGET STYLES ======== */
.payment-container {
  text-align: left; }

.payment-container h3 {
  min-width: 50vw;
  box-sizing: border-box;
  margin-bottom: 1.5em;
  padding: 0.25em;
  background-color: #303C6C;
  border-radius: 0.5em;
  color: white; }

.payment-container p {
  margin-bottom: 0; }

.small-input,
.large-input,
.cvv-input {
  border-radius: .5em;
  border-style: none;
  height: 2em; }

.large-input {
  width: 100%;
  display: block;
  margin-bottom: 1em;
  font-size: 1em; }

.small-input {
  display: inline;
  width: 5em;
  margin-right: 1em; }

.cvv-input {
  display: block;
  width: 5em; }

.card-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2em; }

.card-flex p {
  margin-top: 0; }

.manage-card-container {
  width: 90vw;
  margin: 0 auto; }

.manage-card-container h2 {
  margin-bottom: 1em; }

.manage-card-container h4 {
  text-align: left;
  margin-bottom: .5em; }

.balance-container {
  margin-bottom: 2em; }

.flex-amount {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; }

.addvalue-container {
  width: 90vw;
  margin: 0 auto; }

.addvalue-container h4,
.addvalue-container span {
  text-align: left;
  margin-bottom: 8px;
  margin-left: .5em; }

.amount-form p {
  margin-top: 0; }

.payment-container {
  margin: 2em 0; }

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal; }

.notification-container {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  width: 320px;
  padding: 0px 15px;
  max-height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto; }

.notification {
  box-sizing: border-box;
  padding: 15px 15px 15px 58px;
  border-radius: 2px;
  color: #fff;
  background-color: #ccc;
  box-shadow: 0 0 12px #999;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.2em;
  position: relative;
  opacity: 0.9;
  margin-top: 15px; }
  .notification .title {
    font-size: 1em;
    line-height: 1.2em;
    font-weight: bold;
    margin: 0 0 5px 0; }
  .notification:hover, .notification:focus {
    opacity: 1; }

.notification-enter {
  visibility: hidden;
  transform: translate3d(100%, 0, 0); }

.notification-enter.notification-enter-active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: all 0.4s; }

.notification-leave {
  visibility: visible;
  transform: translate3d(0, 0, 0); }

.notification-leave.notification-leave-active {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
  transition: all 0.4s; }

.notification:before {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -14px;
  display: block;
  font-family: 'Notification';
  width: 28px;
  height: 28px;
  font-size: 28px;
  text-align: center;
  line-height: 28px; }

.notification-info {
  background-color: #2f96b4; }
  .notification-info:before {
    content: ""; }

.notification-success {
  background-color: #51a351; }
  .notification-success:before {
    content: ""; }

.notification-warning {
  background-color: #f89406; }
  .notification-warning:before {
    content: ""; }

.notification-error {
  background-color: #bd362f; }
  .notification-error:before {
    content: ""; }

/*# sourceMappingURL=index.css.map */